/* Footer */

/* .container-footer {
    max-width: 1170px;
    margin: auto;
} */

.footer ul {
    list-style: none;
}

.footer {
    background: #24262b;
    padding: 20px 0;
}

.footer-col {
    width: 100%;
    padding: 10px 0 0 0;
}

.footer-col h4 {
    font-size: 24px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 30px;
    font-weight: 700;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #2ca8dd;
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.footer-about-para {
    color: #bbbbbb;
    font-size: 15px;
    font-weight: 900;

}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 15px;
    text-decoration: none;
    font-weight: 600;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    padding: 10px;
}

.footer-col ul li a:hover {
    color: #2ca8dd;
    padding-left: 8px;
}

.map {
    height: 220px;
    width: 220px;
}

.social-footer-link {
    display: inline-block;
    height: 40px;
    margin: 10px;
}

.last-footer {
    font-size: 17px;
}

.contact-img {
    height: 20px;
    padding: 0 20px 0 0;
}

.footer-last-row {
    background-color: #000;
}

.main-dev-social-link {
    white-space: nowrap;
}

.fa-brands {
    font-size: 22px;
    padding: 10px 15px;
    margin-top: 0;
    transition: all 0.6s;
}

.fa-brands:hover {
    background-color: #2ca8dd;
    border-radius: 6px;
}

.li-footer {
    color: #bbbbbb;
    font-size: 18px;
    font-weight: 500;
    display: block;
    text-align: justify;
}

/* 
@media (max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:574px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
} */

/* Responsive */
@media screen and (max-width:1200px) {

    /* Footer  */
    .footer-col h4 {
        font-size: 20px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-left: 30px;
        font-weight: 700;
        position: relative;
    }

    .li-footer {
        color: #c50c0c;
        font-size: 16px;
        font-weight: 500;
        display: block;
        text-align: justify;
    }

    .footer-col ul li a {
        font-size: 13px;
    }

    .map {
        height: 180px;
        width: 180px;
    }

    .footer-about-para {
        font-size: 14px;
    }

    .last-footer {
        font-size: 14px;
    }

    .social-footer-link {
        display: inline-block;
        height: 40px;
        margin: 5px;
    }

    /* End Footer */

}

@media screen and (max-width:991px) {

    /* Footer  */
    .footer-col h4 {
        font-size: 21px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-left: 30px;
        font-weight: 700;
        position: relative;
    }

    .li-footer {
        color: #bbbbbb;
        font-size: 12px;
        font-weight: 500;
        display: block;
    }

    .footer-col ul li a {
        font-size: 10px;
        text-align: left;
    }


    .map {
        height: 130px;
        width: 100px;
    }

    .footer-about-para {
        font-size: 11px;
    }

    .last-footer {
        font-size: 10px;
    }

    .fa-brands {
        font-size: 16px;
        padding: 10px 15px;
        margin-top: 0;
        transition: all 0.6s;
    }

    .contact-img {
        height: 15px;
        padding: 0 20px 0 0;
    }

    .social-footer-link {
        display: inline-block;
        height: 40px;
        margin: 15px;
    }

    /* End Footer */

}

@media screen and (max-width:768px) {

    /* Footer  */
    .footer-col h4 {
        font-size: 20px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-left: 30px;
        font-weight: 700;
        position: relative;
    }

    .li-footer {
        color: #bbbbbb;
        font-size: 14px;
        font-weight: 500;
        display: block;
    }


    .footer-col ul li a {
        font-size: 14px;
        padding: 5px;
    }

    .map {
        height: 200px;
        width: 160px;
    }

    .footer-about-para {
        font-size: 14px;
        text-align: left;
    }

    .last-footer {
        font-size: 11px;
        white-space: nowrap;
        padding-bottom: 0;
    }

    .contact-img {
        height: 15px;
        padding: 0 20px 0 0;
    }

    .footer-last-row {
        padding: 0 0 10px 0;
    }

    .fa-brands {
        font-size: 15px;
        margin-top: 0;
    }


    .social-footer-link {
        display: inline-block;
        height: 40px;
        margin: 10px;
    }

    /* End Footer */

}

@media screen and (max-width:576px) {

    /* Footer  */
    .footer-col h4 {
        font-size: 20px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-left: 30px;
        font-weight: 700;
        position: relative;
    }

    .li-footer {
        color: #bbbbbb;
        font-size: 14px;
        font-weight: 500;
        display: block;
    }


    .footer-col ul li a {
        font-size: 14px;
    }

    .map {
        height: 150px;
        width: 250px;
    }

    .footer-about-para {
        font-size: 15px;
        text-align: left;
    }

    .last-footer {
        font-size: 8px;
        white-space: nowrap;
        padding-bottom: 0;
        text-align: center;
    }

    .contact-img {
        height: 15px;
        padding: 0 20px 0 0;
    }

    .footer-last-row {
        padding-right: 40px;
    }

    .fa-brands {
        font-size: 15px;
        margin-top: 0;
    }


    .social-footer-link {
        display: inline-block;
        height: 40px;
        margin: 10px;
    }

    /* End Footer */

}